<div id="post-id">{{post.id}}</div>

<div class="flex-center">

<h1 class="accent">{{post.title}}</h1><br>
<h4>Author: {{post.user.username}}</h4>

<div class="card col-4">
  <div class="card-body">
    <h5></h5>
    <p class="card-text">{{post.content}}</p>
  </div>
</div>

{{#if loggedIn}}
<form action="/posts/{{post.id}}" method="post">
    <div class="form-group"> 
        <label>Add a Comment</label>
        <textarea 
            type="text" 
            name="content" 
            id="comment-input"
            class="form-control"
            placeholder="Add a comment"></textarea>
    </div>
    <br>
    <button class="btn btn-primary" id="comment-button">Add Comment</button>
</form>
{{else}}
<a href="/register"><h6>Register now to leave a comment!</h6></a>
{{/if}}
<br>
<br>
<h4>Comments:</h4>


<div class="col-2">
{{#each post.comments}}
{{> comment}}
{{/each}}
</div>


</div>

<script src="/js/comment.js"></script>